.cache
.config
.git-credential-cache
.local
.npm
.ssh
*.wav
*.jpg
*.raw
*.bmp
*.o
*.csv
.bash_history
.ikp3db
lab1/population
lab2/scrabble
lab3
lab4/volume
lab5/inheritance
pset1/credit/credit
pset1/hello/hello
pset1/mario/mario
pset2/caesar/caesar
pset2/Readability/readability
pset3/plurality/plurality
pset3/runoff/runoff
pset4/filter/images
pset4/filter/filter
pset4/recover/recover
pset5/speller/dictionaries
pset5/speller/texts
pset5/speller/keys
pset5/speller/speller